<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>electron-live-cast</title>
    <script src="./static/js/moment.js"></script>
    <script src="./static/js/report.min.js"></script>
    <script src="./static/js/WebRTCRoom.js"></script>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
    <script type="text/javascript">
      var trtc_report = new trtcReport({
        sdkappid: 1400037025
      });
    </script>
    <script src="https://sqimg.qq.com/expert_qq/webrtc/2.4/WebRTCAPI.min.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
